.top_header {
  height: 70px;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 1px solid #000;
}

.topBar {
  display: flex;
  justify-content: space-between;
  height: 69px;
  line-height: 69px;
  /* background-color: red; */
}

.topBar .barLeft {
  display: flex;
}

.topBar .barLeft .logo {
  background-image: url(../image/topbar_sprite.png);
}

.topBar .barLeft .logo a {
  display: block;
  width: 157px;
  padding-right: 20px;  
  text-indent: -9999px;
}

.topBar .barLeft .list {
  display: flex;
}

.topBar .barLeft .list .item{
  display: block;
  /* .item是.item.active::after这个伪元素的祖先元素 （伪元素属于子元素，而.item.active同级别我的理解是起了个别名都是指的同一个元素） 因此在这里设置为relative相对定位*/
  position: relative;
  font-size: 14px;
  padding: 0 20px;
  color: #ccc;
}

.topBar .barLeft .list .item:hover,
.topBar .barLeft .list .item.active{
  content: "";
  color: #fff;
  background-color: #000;
}

.topBar .barLeft .list .item.active::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url(../image/topbar_sprite.png) no-repeat -226px 0;
}

.topBar .barLeft .list .item .icon-hot{
  position: absolute;
  top: 14px;
  right: -5px;
}

.topBar .barRight {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.topBar .barRight .login a {
  color: #666;
}

.topBar .barRight .login:hover a{
  color: #787878;
}

.topBar .barRight .login a:hover {
  color: #666;
  text-decoration: underline;
}

.topBar .barRight .author a{
  /* 不然设置宽高没用 */
  display: inline-block;
  width: 90px;
  height: 32px;
  margin: 0 10px;
  color: #ccc;
  box-sizing: border-box;
  border: 1px solid #4F4F4F;
  border-radius: 20px;
  line-height: 32px;
  text-align: center;
}

.topBar .barRight .author a:hover {
  color: #fff;
  border-color: #fff;
}

.topBar .barRight .search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 158px;
  height: 32px;
  box-sizing: border-box;
  padding-right: 10px;
  border-radius: 30px;
  background: #fff url(../image/topbar_sprite.png) 0 -99px;
}

.topBar .barRight .search input {
  font-size: 12px;
  width: 118px;
}

/* NavBar */
.nav {
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  background-color: #C20C0C;
  border-bottom: 1px solid #a40011;
}

.navbar {
  box-sizing: border-box;
  padding-left: 180px;
}

.nav .navbar .list{
  display: flex;
}
.nav .navbar .list .item
{
  /* 设置inline-block才能继承.nav的高度35px，不然item的高度就仅仅是span里面文字的高度 从而鼠标到item边缘就可以hover*/
  display: inline-block;
}

.nav .navbar .list .item span{
  display: inline-block;
  height: 20px;
  padding: 0px 13px;
  margin: 7px 17px 0;
  line-height: 21px;
  color: #fff;
}

.nav .navbar .list .item:hover span,
.nav .navbar .list .item.active span
{
  border-radius: 20px;
  background: #9B0909;
}